USE [S4Plantel]
GO
/****** Object:  Table [dbo].[JUGADOR]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADOR](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[NombreJugador] [nvarchar](50) NULL,
	[PrimerApellido] [nvarchar](50) NULL,
	[Estatura] [float] NULL,
	[Peso] [float] NULL,
	[IdOrigen] [int] NULL,
	[IdPosicion] [int] NULL,
	[Numero] [int] NULL,
	[FechaNacimiento] [date] NULL,
	[Habilitado] [bit] NULL,
	[Alta] [date] NULL,
 CONSTRAINT [PK_TBLJUGADOR] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORIGEN]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORIGEN](
	[IdOrigen] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionOrigen] [nvarchar](70) NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_ORIGEN] PRIMARY KEY CLUSTERED 
(
	[IdOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdPlantelLocal] [int] NULL,
	[IdPartidoGolPlantelLocal] [int] NULL,
	[IdPlantelVisitante] [int] NULL,
	[IdPartidoGolPlantelVisitante] [int] NULL,
	[TiempoExtra] [int] NULL,
	[FechaPartido] [datetime] NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_PARTIDO] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_LOCAL] UNIQUE NONCLUSTERED 
(
	[IdPartidoGolPlantelLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_VISITANTE] UNIQUE NONCLUSTERED 
(
	[IdPartidoGolPlantelVisitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO_GOL_PLANTEL]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO_GOL_PLANTEL](
	[IdPartidoGol] [int] IDENTITY(1,1) NOT NULL,
	[IdPartidoGolPlantel] [int] NOT NULL,
	[IdPartido] [int] NULL,
	[IdJugador] [int] NULL,
	[IdTipoGol] [int] NULL,
	[FechaGol] [datetime] NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_PARTIDO_GOL_PLANTEL] PRIMARY KEY CLUSTERED 
(
	[IdPartidoGol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTEL]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTEL](
	[IdPlantel] [int] IDENTITY(1,1) NOT NULL,
	[NombreEquipo] [nvarchar](50) NULL,
	[IdOrigen] [int] NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_PLANTEL] PRIMARY KEY CLUSTERED 
(
	[IdPlantel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTEL_JUGADOR]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTEL_JUGADOR](
	[IdPlantelJugador] [int] IDENTITY(1,1) NOT NULL,
	[IdPlantel] [int] NULL,
	[IdJugador] [int] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_PLANTEL_JUGADOR] PRIMARY KEY CLUSTERED 
(
	[IdPlantelJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSICION]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSICION](
	[IdPosicion] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nchar](10) NULL,
	[DescripcionPosicion] [nvarchar](50) NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_POSICION] PRIMARY KEY CLUSTERED 
(
	[IdPosicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLA_GENERAL]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLA_GENERAL](
	[IdTablaGeneral] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NULL,
	[IdPlantel] [int] NULL,
	[Jugados] [int] NULL,
	[Ganados] [int] NULL,
	[Empatados] [int] NULL,
	[Perdidos] [int] NULL,
	[GolesAFavor] [int] NULL,
	[GolesEnContra] [int] NULL,
	[Diferencia] [int] NULL,
	[Puntos] [int] NULL,
 CONSTRAINT [PK_TABLA_GENERAL] PRIMARY KEY CLUSTERED 
(
	[IdTablaGeneral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_GOL]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_GOL](
	[IdTipoGol] [int] NOT NULL,
	[DescripcionGol] [nvarchar](50) NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_TIPO_GOL] PRIMARY KEY CLUSTERED 
(
	[IdTipoGol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TORNEO]    Script Date: 18/08/2024 03:57:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TORNEO](
	[IdTorneo] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionTorneo] [nvarchar](70) NULL,
	[Temporada] [nvarchar](50) NULL,
	[IncioTorneo] [date] NULL,
	[FinTorneo] [date] NULL,
	[Habilitado] [bit] NULL,
	[FechaAlta] [datetime] NULL,
 CONSTRAINT [PK_Torneo] PRIMARY KEY CLUSTERED 
(
	[IdTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Jugados]  DEFAULT ((0)) FOR [Jugados]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Ganados]  DEFAULT ((0)) FOR [Ganados]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Empatados]  DEFAULT ((0)) FOR [Empatados]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Perdidos]  DEFAULT ((0)) FOR [Perdidos]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_GolesAFavor]  DEFAULT ((0)) FOR [GolesAFavor]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_GolesEnContr]  DEFAULT ((0)) FOR [GolesEnContra]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Diferencia]  DEFAULT ((0)) FOR [Diferencia]
GO
ALTER TABLE [dbo].[TABLA_GENERAL] ADD  CONSTRAINT [DF_TABLA_GENERAL_Puntos]  DEFAULT ((0)) FOR [Puntos]
GO
ALTER TABLE [dbo].[JUGADOR]  WITH CHECK ADD  CONSTRAINT [FK_JUGADOR_ORIGEN] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[ORIGEN] ([IdOrigen])
GO
ALTER TABLE [dbo].[JUGADOR] CHECK CONSTRAINT [FK_JUGADOR_ORIGEN]
GO
ALTER TABLE [dbo].[JUGADOR]  WITH CHECK ADD  CONSTRAINT [FK_JUGADOR_POSICION] FOREIGN KEY([IdPosicion])
REFERENCES [dbo].[POSICION] ([IdPosicion])
GO
ALTER TABLE [dbo].[JUGADOR] CHECK CONSTRAINT [FK_JUGADOR_POSICION]
GO
ALTER TABLE [dbo].[PARTIDO]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_PLANTEL] FOREIGN KEY([IdPlantelLocal])
REFERENCES [dbo].[PLANTEL] ([IdPlantel])
GO
ALTER TABLE [dbo].[PARTIDO] CHECK CONSTRAINT [FK_PARTIDO_PLANTEL]
GO
ALTER TABLE [dbo].[PARTIDO]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_PLANTEL1] FOREIGN KEY([IdPlantelVisitante])
REFERENCES [dbo].[PLANTEL] ([IdPlantel])
GO
ALTER TABLE [dbo].[PARTIDO] CHECK CONSTRAINT [FK_PARTIDO_PLANTEL1]
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_JUGADOR] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[JUGADOR] ([IdJugador])
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL] CHECK CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_JUGADOR]
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO] FOREIGN KEY([IdPartidoGolPlantel])
REFERENCES [dbo].[PARTIDO] ([IdPartidoGolPlantelLocal])
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL] CHECK CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO]
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO1] FOREIGN KEY([IdPartidoGolPlantel])
REFERENCES [dbo].[PARTIDO] ([IdPartidoGolPlantelVisitante])
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL] CHECK CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO1]
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO2] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[PARTIDO] ([IdPartido])
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL] CHECK CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_PARTIDO2]
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_TIPO_GOL] FOREIGN KEY([IdTipoGol])
REFERENCES [dbo].[TIPO_GOL] ([IdTipoGol])
GO
ALTER TABLE [dbo].[PARTIDO_GOL_PLANTEL] CHECK CONSTRAINT [FK_PARTIDO_GOL_PLANTEL_TIPO_GOL]
GO
ALTER TABLE [dbo].[PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PLANTEL_ORIGEN] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[ORIGEN] ([IdOrigen])
GO
ALTER TABLE [dbo].[PLANTEL] CHECK CONSTRAINT [FK_PLANTEL_ORIGEN]
GO
ALTER TABLE [dbo].[PLANTEL_JUGADOR]  WITH CHECK ADD  CONSTRAINT [FK_PLANTEL_JUGADOR_JUGADOR] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[JUGADOR] ([IdJugador])
GO
ALTER TABLE [dbo].[PLANTEL_JUGADOR] CHECK CONSTRAINT [FK_PLANTEL_JUGADOR_JUGADOR]
GO
ALTER TABLE [dbo].[PLANTEL_JUGADOR]  WITH CHECK ADD  CONSTRAINT [FK_PLANTEL_JUGADOR_PLANTEL] FOREIGN KEY([IdPlantel])
REFERENCES [dbo].[PLANTEL] ([IdPlantel])
GO
ALTER TABLE [dbo].[PLANTEL_JUGADOR] CHECK CONSTRAINT [FK_PLANTEL_JUGADOR_PLANTEL]
GO
ALTER TABLE [dbo].[TABLA_GENERAL]  WITH CHECK ADD  CONSTRAINT [FK_TABLA_GENERAL_PLANTEL] FOREIGN KEY([IdPlantel])
REFERENCES [dbo].[PLANTEL] ([IdPlantel])
GO
ALTER TABLE [dbo].[TABLA_GENERAL] CHECK CONSTRAINT [FK_TABLA_GENERAL_PLANTEL]
GO
ALTER TABLE [dbo].[TABLA_GENERAL]  WITH CHECK ADD  CONSTRAINT [FK_TABLA_GENERAL_TORNEO] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[TORNEO] ([IdTorneo])
GO
ALTER TABLE [dbo].[TABLA_GENERAL] CHECK CONSTRAINT [FK_TABLA_GENERAL_TORNEO]
GO
